#root{
    height: 910px;
    width: 460px;
    color: rgb(51, 51, 51);
    background-color: rgb(245, 245, 248);
    box-shadow: rgb(0 0 0 / 6%) 0px 4px 30px;
    border-radius: 25px;
    padding: 1.5rem 2.5rem;
}

body{
    min-height: 100vh;
    background-color: rgb(184, 184, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}